<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @api_config.username %>
</p>

<%= link_to 'Edit', edit_api_config_path(@api_config) %> |
<%= link_to 'Back', api_configs_path %>
